@page "/erisim-engeli"
@layout QRDestekliStokVeBarkodYonetimi.Components.Layout.AuthLayout
@rendermode InteractiveServer

@inject NavigationManager Nav

<PageTitle>Erişim Engeli</PageTitle>

<div class="auth-card">
    <AuthCardHeader Title="Erişim Engeli"
                    Subtitle="Bu sayfayı görüntülemek için gerekli yetkiye sahip değilsiniz" />

    <div class="auth-icon-large">
        <i class="fa-solid fa-lock"></i>
    </div>

    <div class="auth-message auth-message--info">
        Yöneticinizle iletişime geçerek gerekli yetkilerin tanımlanmasını isteyebilirsiniz.
    </div>

    <RadzenButton Text="Ana sayfaya dön" Icon="home" ButtonStyle="ButtonStyle.Primary"
                  Click="@(() => Nav.NavigateTo("/"))" />

    <div class="auth-card__footer">
        <a href="/login">Giriş yap</a>
    </div>
</div>
