@inherits LayoutComponentBase

<RadzenComponents @rendermode="InteractiveServer"></RadzenComponents>
<div class="auth-page">
    @Body
    <i class="fa-solid fa-star auth-page__star" aria-hidden="true"></i>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
